/*  дополнительный цвет текста #757575 */
/*  accent color #2196F3 */
/*  лого хедер #000000 */
/*  герой, лого футер #FFFFFF */
/*  фон хедер #FFFFFF */
/*  ссылки футер color: rgba(255, 255, 255, 0.6);*/
/*  фон герой и футер #2F303A */
/*  фон наша команда #F5F4FA */

:root {
  --main-font: 'Roboto', sans-serif;
  --main-text-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
}

body {
  font-family: var(--main-font);
  color: var(--main-text-color);
  background-color: #ffffff;
  /* background-color: #e5e5e5; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  outline: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* ============== header ==============*/
.header {
  background-color: #ffffff;
  border: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav.list {
  display: flex;
}

.header-contact.list {
  display: flex;
}

.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #000000;
}

.logo-web {
  color: var(--accent-color);
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
  outline: none;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-text-color);
}

.active-link {
  color: var(--accent-color);
}

.header-contact {
  margin-left: auto;
}

.contact-item {
  display: flex;
  align-items: center;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.contact-icon {
  margin-right: 10px;
}

.header-contact-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-color);
  fill: #757575;
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
  outline: none;
}

/*  ============== hero ==============  */
.section-hero {
  background: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/backgroundicon/img-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.hero-button {
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  outline: none;

  color: #ffffff;
  background-color: var(--accent-color);
}

/* ============== advantages =============== */
.section-advadvantages {
  padding-top: 94px;
}
.advantages {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.advantages-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.advantages-item::before {
  display: block;
  content: '';
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.icon-antenna::before {
  background-image: url('../images/backgroundicon/antenna-1.svg');
}

.icon-clock::before {
  background-image: url('../images/backgroundicon/clock-1.svg');
}

.icon-diagram::before {
  background-image: url('../images/backgroundicon/diagram-1.svg');
}

.icon-astronaut::before {
  background-image: url('../images/backgroundicon/astronaut-1.svg');
}

.advantages-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

/*  ============== what are we doing  ============== */
.wawd {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.wawd-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

/*  ============== our team ============== */
.team-background {
  background: #f5f4fa;
}
.team {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item-content-wrapper {
  padding: 30px 32px;
}

.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
}

.team-text {
  color: var(--secondary-color);
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-item {
  width: 44px;
  height: 44px;
}
.social-icon {
  width: 20px;
  height: 20px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #afb1b8;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
  outline: none;
}

/*  ================= our clients ================  */

.clients-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}

.clients-item {
  flex-basis: calc(100% / 6 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  height: 90px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);
  outline: none;
  border: 1px solid var(--accent-color);
}

/*  ================= footer ================  */
.footer {
  background: #2f303a;
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: baseline;
}

.footer-wrapper {
  margin-right: 70px;
}

.footer-wrapper > .logo {
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.address {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address {
  color: #ffffff;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
}

.join {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

.footer .social-link:hover {
  background-color: var(--accent-color);
  outline: none;
}

/*  ============== portfolio ================ */
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}
.button-filter {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;

  background-color: #f5f4fa;
}

.button-filter:hover,
.button-filter:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.projects-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  border: 1px solid #eeeeee;
}
.projects-link {
  display: block;
}

.projects-link:hover,
.projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}

.projects-item-content-wrapper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.project-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.project-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--secondary-color);
}
